<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>project</key>
		<string>Sample Project</string>
		<key>project_description</key>
		<string>Sample Project Description</string>
		<key>backlog</key>
		<array>
			<string>Sample backlog task1</string>
			<string>Sample backlog task2</string>
		</array>
	</dict>
</array>
</plist>
